{% extends 'base-admin.html' %}

{% block main %}
    <nav class="navbar">
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input
                        type="text" class="form-control" placeholder="Username Search" aria-label="Username"
                        aria-describedby="basic-addon1">
            </div>

            <div class="dropdown">
                <button
                        class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search Options
                </button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Find all books yet to be returned</a>
                    <a class="dropdown-item" href="#">Find all borrowed books</a>
                </div>
            </div>
        </form>
    </nav>

    <h1>All Books</h1>




    {% include 'modal-add-book.html' %}

    <article class="card">
        <div class="card-body">
            <h2 class="card-title">BOOK TITLE HERE</h2>
            <footer>By John Doe, Jane Doe & D. Doe</footer>

            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                deleniti ea minima
                modi
                nulla
                odit optio quasi quia quisquam tenetur? Beatae consequatur culpa, cumque distinctio
                eaque
                esse
                est,
                facere fuga itaque necessitatibus perspiciatis reiciendis, veritatis?
            </p>
            <div class="card-icon">
                {% include 'modal-edit-book.html' %}
                {% include 'modal-delete-book.html' %}
            </div>
        </div>
    </article>


{% endblock %}
