<!--Book Card-->
<article class="card">
    <div class="card-body">
        <h2 class="card-title">BOOK TITLE HERE</h2>
        <footer>By John Doe, Jane Doe & D. Doe</footer>

        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
            deleniti ea minima
            modi
            nulla
            odit optio quasi quia quisquam tenetur? Beatae consequatur culpa, cumque distinctio
            eaque
            esse
            est,
            facere fuga itaque necessitatibus perspiciatis reiciendis, veritatis?
        </p>

        <button class="btn">Rent this book</button>
    </div>
</article>