<span data-toggle="modal" data-target="#delete-from-database-confirmation">
        <i class="fas fa-trash-alt" title="Delete this file"></i></span>

<div
        class="modal fade" id="delete-from-database-confirmation" tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                        type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to COMPLETELY DELETE this file from the
                    database? If you CONFIRM just know this action is irreversable.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    CONFIRM!
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    DON'T DELETE!
                </button>
            </div>
        </div>
    </div>
</div>



